.MainContent {
  display: grid;
  grid-template-columns: 57% 43%;
  margin-bottom: 148px;

  &_about {
    .about-heading {
      @include df(700, 80px, $primary-color);
      line-height: 0.9;
      margin-top: 59px;
      margin-bottom: 40px;
    }
    .about-content {
      font-size: 20px;
      max-width: 500px;
      font-size: 18px;
      line-height: 1.5;
      color: #ffffff;
    }

    .hero-cta {
      width: 271px;
      height: 76px;
      border: none;
      padding: 19px;
      font-size: 16px;
      background: $bg-color;
      box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
        -3px -3px 8px rgba(75, 93, 104, 0.1);
      border-radius: 50px;
      font-weight: 600;
      font-size: 24px;
      color: $white;
      margin-top: 30px;
    }
  }
  .hero-img {
    max-width: 431px;
    max-height: 486px;
    margin-left: 40px;
  }
}
